$color-AppkingWelcomeBackground: hsl(202, 81%, 23%);
$color-AppkingWelcomeText: white;

$color-AppkingBattleBackground: hsl(15, 75%, 30%);
$color-AppkingBattleText: white;

.chapter-welcome-appking {

    min-height:     100vh;
    background-color: $color-AppkingWelcomeBackground;
    color:            $color-AppkingWelcomeText;

    /* shadow silueth of the cat */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../art/illustrations/welcome-background.svg);
    background-attachment: fixed;

    /* has unique grid */

    display:  grid;
    grid-gap: 1em;
    grid-template-columns:
        minmax(0, 1fr)
        minmax(0, 23em)
        20vw
        minmax(0, 1fr);
    grid-template-rows:
        minmax(0, auto)
        max-content
        8rem
        minmax(0, auto);
    grid-template-areas:
        't t t t'
        'l c k r'
        'l f f r'
        'b b b b';
    &>.image         { grid-area: k; }
    &>.text          { grid-area: c; }
    &>.arrow         { grid-area: f; }

    // components

    .image {
        align-self: end;
        figure { width: 100%; }
        img    { max-height: 60vh; }
    }
    .text {
        @extend %grid-as-text;
        align-self: center;
        font-size: 1.2em;
    }
    .text>header {
        &>h1 { font-size: 2.5em; }
        &>p  { @extend %text-as-active-message; }
    }

    // has bottom decoration

    position: relative;
    z-index: 1;
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        bottom: -2rem;
        left: 0;
        right: 0;
        width: 100%;
        height: 4rem;
        background-repeat: repeat-x;
        background-size: auto 100%;
        background-image: url(../../art/decor/wave-line.svg);
        background-position: center center;
    }

    // mobile

    @media ($screenForTablet) {
        grid-template-columns:
            minmax(0, 1fr)
            minmax(0, 29em)
            minmax(0, 1fr);
        grid-template-rows:
            minmax(0, 1fr)
            min-content
            min-content
            min-content
            minmax(0, 1fr);
        grid-template-areas:
            't t t'
            'l k r'
            'l c r'
            'l f r'
            'b b b';
        background-image: none;
        font-size: 0.8em;
        .text  { font-size: 1em; }
        .text>header {
            min-height: 20vh;
            text-align: center;
            &>h1 {
                font-size: 2em;
            }
            &>p {
                font-size: 1em;
                margin: 0 auto;
            }
        }
        .image {
            padding-top: 20vh;
            figure, img {
                display: block;
                height:  40vh;
                width:   auto;
                margin:  0 auto;
            }
            /* shadow silueth of the cat */
            background-size:     contain;
            background-repeat:   no-repeat;
            background-position: bottom center;
            background-image:
                url(../../art/illustrations/welcome-background.svg);
        }
        .arrow {
            padding-top:    10vh;
            padding-bottom: 10vh;
        }
    }

}
.character--NinaTheArrow {
    @extend %focus-as-button;
    position: relative;
    z-index: 2;
    width: 8rem;

    &::before {
        content: '';
        pointer-events: 0;

        position: absolute;
        left:  10rem;
        top:   0;
        width: 40rem;
        height: 4rem;

        @media (max-width:50rem) {
            width: 20rem;
            height: 2rem;
        }

        background-image:  url(../../art/decor/text-scroll-down.svg);
        background-size:   contain;
        background-repeat: no-repeat;

        transform: translateY(-50%);
        opacity: 0;
        will-change: transform, opacity;

    }
    &:focus::before {
        opacity: 1;
        transform: translateY(0);
        transition: all 400ms ease-in;
    }

    @media ($screenForTablet) {
        margin: 0 auto;
        &::before {
            top: auto;
            bottom: calc( 100% + 4vh );
            left:50%;
            width: 80vw;
            height: 8vw;
            max-height: 6vh;
            transform: translateY(-50%) translateX(-50%);
        }
        &:focus::before {
            transform: translateY(0) translateX(-50%);
        }
    }

}
#NinaTheArrow {
    transform:  rotate(180deg);
    transition: transform 200ms ease-out;
    will-change: transform;
    .her-face,
    .her-hands {
        opacity: 0;
        transition:  opacity 300ms ease-in;
        will-change: opacity;
    }
    .character--NinaTheArrow:focus & {
        transform:  rotate(360deg) scale(1.5);
        .her-face,
        .her-hands {
            opacity: 1;
        }
    }
}


.chapter-crown-legend {

    padding-top:   20vh;
    padding-bottom: 20vh;

    /* shadow silueth of the cat */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../art/decor/catground-crown.svg);
    background-attachment: fixed;

    &>[storyblock] {
        padding-bottom: 10vw;
        grid-gap: 1em 5vw;
        grid-template-columns:
            [full-start side-w]
                20vw
            [main]
                50vw
            [side-e]
                20vw
            [full-end];
        @media ($screenNotS) {
            font-size: 1.2em;
            &>p {
                max-width: 27em;
            }
        }
    }

    /* first letters */
    &>[storyblock] {
        &>p:first-letter {
            font-size:      2.4em;
            font-weight:    bolder;
            vertical-align: baseline;
            line-height:    1;
            padding-right:  2px;
        }
    }
    /**/

    /* illustration */
    .illustration {
        grid-column: side-e;
        position:  relative;
        z-index: 1;
        &>figure {

            position: absolute;
            z-index: 0;
            width: 100%;
            padding: 1rem;

            background-color: $color_main_shadow;

            &>figcaption {
                display: block;
                @extend .has-sans-text;
                max-width: 18em;
            }

        }
    }
    /* formula */
    .formula {
        padding: 2em 10vw;
        .formula-image {
            --opacity: 0.25;
            --scale:   0.5;
            width:  100%;
            height: auto;
            transform: scale(var(--scale));
            transform-origin: top center;
            opacity: var(--opacity);
            will-change: transform, opacity;
        }
    }
    /**/

}
.character--KingCrown {

    position: relative;
    width:      10em;
    height:     10em;
    max-width:  100%;
    max-height: 100%;
    padding:    0.25em;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 40%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: hsl(155, 21%, 82%);
        border: 4px solid white;
        border-radius: 50%;
        transition: top 400ms;
    }
    &:hover::before {
        top: 60%;
    }

}
:root {
    --el-logo-top:  100vh;
    --el-logo-left: 10vw;
    --el-logo-size: 12vw;
    //--el-hamburger-top:  100vh;
    //--el-hamburger-size: 25vw;
}
.el-logo {

    position:   fixed;
    z-index:    4;
    padding:    0.5em;
    transition: left, top 100ms;

    top:    var(--el-logo-top);
    left:   var(--el-logo-left);
    width:  var(--el-logo-size);
    height: var(--el-logo-size);

    &.in-travel {
        left:   10vw;
        width:  12vw;
        height: 12vw;
    }

    &.is-active {
        top:    0;
        left:   0;
        width:  10vw;
        height: 10vw;
    }

    &::after {
        content:  '';
        position: absolute;
        top:    10%;
        left:   100%;
        width:  50%;
        height: 50%;

        transform: scale(0);
        transform-origin: top left;
        will-change: transform;
        transition:  transform 200ms ease-in;

        /* icon-close */
        background-size:   cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../../art/characters/icon-close.svg);

        opacity: 0;

    }
    &.is-active::after {
        opacity: 1;
        transform: scale(1);
        transition-timing-function: ease-out;
    }
}
.el-logo-sunrise { height: 5vw; }
/*
.el-hamburger {

    top:    0;
    right:  0;
    width:  6vw;
    height: 6vw;

    &.in-friendly-mode {
        top:    var(--el-hamburger-top);
        right:  0;
        width:  var(--el-hamburger-size);
        height: var(--el-hamburger-size);
    }

    transition: width 200ms;

    position: fixed;
    z-index: 2;
    padding: 0.5em;
    &>img { width: 100%; max-width: 50vw; }
}
.el-hamburger-warsign { height: 20vh; }
*/
.chapter-logo {

    padding-top:    20vh;
    padding-bottom: 20vh;
    background-color: $color-AppkingWelcomeBackground;
    color:            $color-AppkingWelcomeText;

    /* color silueth of the crown */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../art/decor/king-crown-featured.svg);
    background-attachment: fixed;

    // has top decoration

    position: relative;
    z-index: 1;
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 4rem;
        background-repeat: repeat-x;
        background-size: auto 100%;
        background-image: url(../../art/decor/wave-line.svg);
        background-position: left center;
    }
    &::before { top:    -2rem;}
    &::after  { bottom: -2rem;}

    .logo-features {
        grid-column: side-w;
    }
    .text {
        background-color: hsla(202, 91%, 13%, 0.8);
        transition: background 400ms ease-in;
        padding:   0.5em;
        font-size: 1.4em;
        &:hover {
            background-color: hsla(202, 91%, 13%, 0.95);
            transition-timing-function: ease-out;
        }
    }
}
.chapter-hamburger {
    padding-top:    30vh;
    padding-bottom: 30vh;

    background-color: $color-AppkingBattleBackground;
    color:            $color-AppkingBattleText;

    /* shadow silueth of the cat */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../art/decor/catground-crown.svg);
    background-attachment: fixed;

    &>[storyblock] {
        grid-gap: 1em 5vw;
        grid-template-columns:
            [full-start side-w]
                20vw
            [main]
                50vw
            [side-e]
                20vw
            [full-end];
        @media ($screenNotS) {
            font-size: 1.2em;
            &>p {
                max-width: 27em;
            }
        }
    }

    .character--vonHamburger {
        grid-column: side-e;
        position:    relative;
        width:       20vw;
        transform:   translateX(-2.5vw);
        &>img {
            position: absolute;
            width:    100%;
            height:   auto;
        }
    }

    .drammatic {
        font-size: 1.25em;
    }

    /* drammatic colors */

    .colors {
        font-weight: bolder;
        &>i { font-style: normal; }
        &>i:nth-child(1) { color: cyan; }
        &>i:nth-child(2) { color: yellow; }
        &>i:nth-child(3) { color: greenyellow; }
        &>i:nth-child(4) { color: lightpink; }
    }
}
.sidebar-chapters {
    @extend .sidebar;
    @extend .sidebar-westside;

    width:       24vw;
    padding-top: 12vw;

    background-color: #80BCA3;

}

.list-of-chapters {
    &>ul>li>a {
        display: block;
        background-color: hsla(0,0%,100%,0.25);
        transition: background 100ms ease;
        padding: 0.5em 1em;
        &:hover { background-color: hsla(0,0%,100%,0.5); }
        &:hover { text-decoration: underline; }
    }
}

