$color-AppkingWelcomeBackground: hsl(202, 81%, 23%);
$color-AppkingWelcomeText: white;

.chapter-welcome-appking {

    min-height:     100vh;
    background-color: $color-AppkingWelcomeBackground;
    color:            $color-AppkingWelcomeText;

    /* shadow silueth of the cat */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../art/illustrations/welcome-background.svg);
    background-attachment: fixed;

    /* has unique grid */

    display:  grid;
    grid-gap: 1em;
    grid-template-columns:
        minmax(0, 1fr)
        minmax(0, 23em)
        20vw
        minmax(0, 1fr);
    grid-template-rows:
        minmax(0, auto)
        max-content
        8rem
        minmax(0, auto);
    grid-template-areas:
        't t t t'
        'l c k r'
        'l f f r'
        'b b b b';
    &>.image         { grid-area: k; }
    &>.text          { grid-area: c; }
    &>.arrow         { grid-area: f; }

    // components

    .image {
        align-self: end;
        figure { width: 100%; }
        img    { max-height: 60vh; }
    }
    .text {
        @extend %grid-as-text;
        align-self: center;
        font-size: 1.2em;
    }
    .text>header {
        &>h1 { font-size: 2.5em; }
        &>p  { @extend %text-as-active-message; }
    }

    // has bottom decoration

    position: relative;
    z-index: 1;
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        bottom: -2rem;
        left: 0;
        right: 0;
        width: 100%;
        height: 4rem;
        background-repeat: repeat-x;
        background-size: auto 100%;
        background-image: url(../../art/decor/welcome-bottom-border.svg);
        background-image: url(../../art/decor/wave-line.svg);
        background-position: center center;
    }

    // mobile

    @media ($screenForTablet) {
        grid-template-columns:
            minmax(0, 1fr)
            minmax(0, 29em)
            minmax(0, 1fr);
        grid-template-rows:
            minmax(0, 1fr)
            min-content
            min-content
            min-content
            minmax(0, 1fr);
        grid-template-areas:
            't t t'
            'l k r'
            'l c r'
            'l f r'
            'b b b';
        background-image: none;
        font-size: 0.8em;
        .text  { font-size: 1em; }
        .text>header {
            min-height: 20vh;
            text-align: center;
            &>h1 {
                font-size: 2em;
            }
            &>p {
                font-size: 1em;
                margin: 0 auto;
            }
        }
        .image {
            padding-top: 20vh;
            figure, img {
                display: block;
                height:  40vh;
                width:   auto;
                margin:  0 auto;
            }
            /* shadow silueth of the cat */
            background-size:     contain;
            background-repeat:   no-repeat;
            background-position: bottom center;
            background-image:
                url(../../art/illustrations/welcome-background.svg);
        }
        .arrow {
            padding-top:    10vh;
            padding-bottom: 10vh;
        }
    }

}
.character--NinaTheArrow {
    @extend %focus-as-button;
    position: relative;
    z-index: 2;
    width: 8rem;

    &::before {
        content: '';
        pointer-events: 0;

        position: absolute;
        left:  10rem;
        top:   0;
        width: 40rem;
        height: 4rem;

        @media (max-width:50rem) {
            width: 20rem;
            height: 2rem;
        }

        background-image:  url(../../art/decor/text-scroll-down.svg);
        background-size:   contain;
        background-repeat: no-repeat;

        transform: translateY(-50%);
        opacity: 0;
        will-change: transform, opacity;

    }
    &:focus::before {
        opacity: 1;
        transform: translateY(0);
        transition: all 400ms ease-in;
    }

    @media ($screenForTablet) {
        margin: 0 auto;
        &::before {
            top: auto;
            bottom: calc( 100% + 4vh );
            left:50%;
            width: 80vw;
            height: 8vw;
            max-height: 6vh;
            transform: translateY(-50%) translateX(-50%);
        }
        &:focus::before {
            transform: translateY(0) translateX(-50%);
        }
    }

}
#NinaTheArrow {
    transform:  rotate(180deg);
    transition: transform 200ms ease-out;
    will-change: transform;
    .her-face,
    .her-hands {
        opacity: 0;
        transition:  opacity 300ms ease-in;
        will-change: opacity;
    }
    .character--NinaTheArrow:focus & {
        transform:  rotate(360deg) scale(1.5);
        .her-face,
        .her-hands {
            opacity: 1;
        }
    }
}





.chapter-crown-legend {

    padding-top:   20vh;
    padding-bottom: 20vh;

        /* shadow silueth of the cat */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../../art/decor/catground-crown.svg);
        background-attachment: fixed;

    &>[storyblock] {
        grid-gap: 1em 5vw;
        grid-template-columns:
            [full-start side-w]
                20vw
            [main]
                50vw
            [side-e]
                20vw
            [full-end];
        @media ($screenNotS) {
            font-size: 1.2em;
            &>p {
                max-width: 27em;
            }
        }
    }

    /* first letters */
    &>[storyblock] {
        &>p:first-letter {
            font-size:      2.4em;
            font-weight:    bolder;
            vertical-align: baseline;
            line-height:    1;
        }
    }
    /**/

    /* illustration */
    .illustration {
        grid-column: side-e;
        position:  relative;
        &>figure {

            position: absolute;
            z-index: 0;
            width: 100%;
            padding: 1rem;

            background-color: $color_main_shadow;

            &>figcaption {
                display: block;
                @extend .has-sans-text;
                max-width: 18em;
            }

        }
    }
    /* formula */
    .formula {
        padding: 2em 10vw;
        .formula-image {
            --opacity: 0.25;
            --scale:   0.5;
            width:  100%;
            height: auto;
            transform: scale(var(--scale));
            transform-origin: top center;
            opacity: var(--opacity);
            will-change: transform, opacity;
        }
    }
    /**/

}
.character--KingCrown {

    position: relative;
    width:      10em;
    height:     10em;
    max-width:  100%;
    max-height: 100%;
    padding:    0.25em;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 40%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: hsl(155, 21%, 82%);
        border-radius: 50%;
        transition: top 400ms;
    }
    &:hover::before {
        top: 60%;
    }

}

:root {
    --el-logo-top:  100vh;
    --el-logo-left: 10vw;
    --el-logo-size: 12vw;
}
.el-logo {
    top:    var(--el-logo-top);
    left:   10vw;
    width:  12vw;
    height: 12vw;

    &.in-travel {
        left:   var(--el-logo-left);
        width:  var(--el-logo-size);
        height: var(--el-logo-size);
        transition: left, top 100ms;
    }

    position: fixed;
    z-index: 2;
    padding: 0.5em;
}
.el-logo-sunrise {
    height: 5vw;
}
