$color-AppkingWelcomeBackground: hsl(202, 81%, 23%);
$color-AppkingWelcomeText: white;

$color-AppkingBattleBackground: hsl(15, 75%, 30%);
$color-AppkingBattleText: white;

$clip-bottom-line: polygon(
    0 -1px, 100% -1px,
    100% 100%, 55% calc( 100% - 2em ), 30% 100%, 14% calc( 100% - 1em ), 6% 100%, 0 calc( 100% - 2em ) );
$clip-top-line: polygon(
    0 2em, 20% 0, 25% 1em, 40% 0, 60% 2em, 80% 0, 100% 1em,
    100% 100%, 0 100% );
$clip-top-bottom-line: polygon(
    0 2em, 20% 0, 25% 1em, 40% 0, 60% 2em, 80% 0, 100% 1em,
    100% 100%, 55% calc( 100% - 2em ), 30% 100%, 14% calc( 100% - 1em ), 6% 100%, 0 calc( 100% - 2em ) );



.chapter-welcome-appking {

    min-height:       100vh;
    background-color: $color-AppkingWelcomeBackground;
    color:            $color-AppkingWelcomeText;

    /* shadow silueth of the cat */

    background-image:  url(../../art/illustrations/welcome-background.svg);
    background-size:       contain;
    background-position:   center center;
    background-repeat:     no-repeat;
    background-attachment: fixed;

    /* has unique grid */

    display:  grid;
    grid-gap: 1em;
    grid-template-columns:
        minmax(0, 1fr)
        minmax(0, 23em)
        20vw
        minmax(0, 1fr);
    grid-template-rows:
        minmax(0, auto)
        max-content
        8rem
        minmax(0, auto);
    grid-template-areas:
        't t t t'
        'l c k r'
        'l f f r'
        'b b b b';
    &>.image         { grid-area: k; }
    &>.text          { grid-area: c; }
    &>.arrow         { grid-area: f; }

    // components

    .image {
        align-self: end;
        figure { width: 100%; }
        img    { max-height: 60vh; }
    }
    .text {
        @extend %grid-as-text;
        align-self: center;
        font-size: 1.2em;
    }
    .text>header {
        &>h1 { font-size: 2.5em; }
        &>p  { @extend %text-as-active-message; }
    }

    // has bottom decoration

    position: relative;
    z-index: 1;
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        bottom: -2rem;
        left: 0;
        right: 0;
        width: 100%;
        height: 4rem;
        background-repeat: repeat-x;
        background-size: auto 100%;
        background-image: url(../../art/decor/wave-line.svg);
        background-position: center center;
    }

    // mobile

    @media ($screenForTablet) {
        grid-template-columns:
            minmax(0, 1fr)
            minmax(0, 29em)
            minmax(0, 1fr);
        grid-template-rows:
            minmax(0, 1fr)
            min-content
            min-content
            min-content
            minmax(0, 1fr);
        grid-template-areas:
            't t t'
            'l k r'
            'l c r'
            'l f r'
            'b b b';
        background-image: none;
        font-size: 0.8em;
        .text  { font-size: 1em; }
        .text>header {
            min-height: 20vh;
            text-align: center;
            &>h1 {
                font-size: 2em;
            }
            &>p {
                font-size: 1em;
                margin: 0 auto;
            }
        }
        .image {
            padding-top: 20vh;
            figure, img {
                display: block;
                height:  40vh;
                width:   auto;
                margin:  0 auto;
            }
            /* shadow silueth of the cat */
            background-size:     contain;
            background-repeat:   no-repeat;
            background-position: bottom center;
            background-image:
                url(../../art/illustrations/welcome-background.svg);
        }
        .arrow {
            padding-top:    10vh;
            padding-bottom: 10vh;
        }
    }
}
.character--NinaTheArrow {

    @extend %focus-as-button;
    position: relative;
    z-index: 2;

    width: 8rem;

    &::before {

        content: '';
        pointer-events: 0;

        position: absolute;
        left:  10rem;
        top:   0;
        width: 40rem;
        height: 4rem;
        @media (max-width:50rem) {
            width: 20rem;
            height: 2rem;
        }

        background-image:  url(../../art/decor/text-scroll-down.svg);
        background-size:   contain;
        background-repeat: no-repeat;

        opacity: 0;
        transform:   translateY(-50%);
        will-change: transform, opacity;

    }
    &:focus::before {
        opacity: 1;
        transform:  translateY(0);
        transition: all 400ms ease-in;
    }

    @media ($screenForTablet) {

        margin: 0 auto;

        &::before {
            top:    auto;
            bottom: calc( 100% + 4vh );
            left:   50%;
            width:  80vw;
            height:  8vw;
            max-height: 6vh;
            transform:  translateY(-50%) translateX(-50%);
        }
        &:focus::before {
            transform:  translateY(0) translateX(-50%);
        }
    }
}
#NinaTheArrow {

    transform:   rotate(180deg);
    transition:  transform 200ms ease-out;
    will-change: transform;

    .her-face, .her-hands {
        opacity: 0;
        transition:  opacity 300ms ease-in;
        will-change: opacity;
    }
    .character--NinaTheArrow:focus & {
        transform:  rotate(360deg) scale(1.5);
        .her-face, .her-hands { opacity: 1; }
    }
}
.chapter-crown-legend {

    padding-top:    20vh;
    padding-bottom: 20vh;

    /* shadow silueth of the crown */

    background-image:  url(../../art/decor/catground-crown.svg);
    background-size:       contain;
    background-position:   center center;
    background-repeat:     no-repeat;
    background-attachment: fixed;


    /* first letters */

    &>[storyblock] {
        &>p:first-letter {
            font-size:      2.4em;
            font-weight:    bolder;
            vertical-align: baseline;
            line-height:    1;
            padding-right:  2px;
        }
    }

    /* side illustration */

    .illustration {
        grid-column: side-e;
        position:  relative;
        z-index: 1;
        &>figure {

            position: absolute;
            z-index: 0;
            width: 100%;
            padding: 1rem;

            background-color: $color_main_shadow;

            &>figcaption {
                display: block;
                @extend .has-sans-text;
                max-width: 18em;
            }

        }
    }

    /* ending illustration */

    .legend-formula {
        margin-top: 10vw;
    }
}
.character--KingCrown {

    position: relative;
    width:      10em;
    height:     10em;
    max-width:  100%;
    max-height: 100%;
    padding:    0.25em;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 40%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: hsl(155, 21%, 82%);
        border: 4px solid white;
        border-radius: 50%;
        transition: top 400ms;
    }
    &:hover::before {
        top: 60%;
    }

}
:root {
    --el-logo-top:  100vh;
    --el-logo-left: 10vw;
    --el-logo-size: 12vw;
}
.el-logo {

    position:   fixed;
    z-index:    4;
    padding:    0.5em;
    transition: left, top 100ms;

    top:    var(--el-logo-top);
    left:   var(--el-logo-left);
    width:  var(--el-logo-size);
    height: var(--el-logo-size);

    &.in-travel {
        left:   10vw;
        width:  12vw;
        height: 12vw;
    }

    &.is-active {
        top:    0;
        left:   0;
        width:  10vw;
        height: 10vw;
    }

    &::after {
        content:  '';
        position: absolute;
        top:    10%;
        left:   100%;
        width:  50%;
        height: 50%;

        transform: scale(0);
        transform-origin: top left;
        will-change: transform;
        transition:  transform 200ms ease-in;

        /* icon-close */
        background-size:   cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../../art/characters/icon-close.svg);

        opacity: 0;

    }
    &.is-active::after {
        opacity: 1;
        transform: scale(1);
        transition-timing-function: ease-out;
    }
}
.el-logo-sunrise { height: 5vw; }
.chapter-logo {

    padding-top:      20vh;
    padding-bottom:   20vh;
    background-color: $color-AppkingWelcomeBackground;
    color:            $color-AppkingWelcomeText;

    /* has special grid */

    &>[storyblock] {
        grid-gap: 1em 1em;
        grid-template-columns:
            [full-start side-w]
                minmax(0, auto)
            [main]
                minmax(min-content, 28em)
            [side-e]
                minmax(0, auto)
            [full-end];
    }

    /* has color silueth of the crown */

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../art/decor/king-crown-featured.svg);
    background-attachment: fixed;

    /* has top+bottom decoration */

    position: relative;
    z-index: 1;
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 4rem;
        background-repeat: repeat-x;
        background-size: auto 100%;
        background-image: url(../../art/decor/wave-line.svg);
        background-position: left center;
    }
    &::before { top:    -2rem;}
    &::after  { bottom: -2rem;}

    // components

    .logo-features {
        grid-column: side-w;
    }
    .text {
        padding:   0.5em;
        font-size: 1.4em;

        background-color: hsla(202, 91%, 13%, 0.8);
        transition: background 400ms ease-in;
        &:hover {
            background-color: hsla(202, 91%, 13%, 0.95);
            transition-timing-function: ease-out;
        }
    }
}
.chapter-hamburger {

    padding-top:      30vh;
    padding-bottom:   30vh;
    background-color: $color-AppkingBattleBackground;
    color:            $color-AppkingBattleText;

    /* shadow silueth of the crown */

    background-image:  url(../../art/decor/catground-crown.svg);
    background-size:       contain;
    background-position:   center center;
    background-repeat:     no-repeat;
    background-attachment: fixed;

    // components

    .character--vonHamburger {
        grid-column: side-e;
        position:    relative;
        width:       20vw;
        transform:   translateX(-2.5vw);
        &>img {
            position: absolute;
            width:    100%;
            height:   auto;
        }
    }
    .drammatic {
        font-size: 1.25em;
    }
    .colors {
        font-weight: bolder;
        &>i { font-style: normal; }
        &>i:nth-child(1) { color: cyan; }
        &>i:nth-child(2) { color: yellow; }
        &>i:nth-child(3) { color: greenyellow; }
        &>i:nth-child(4) { color: lightpink; }
    }
}
.sidebar-chapters {

    @extend .sidebar;
    @extend .sidebar-westside;

    width:       24vw;
    padding-top: 12vw;

    background-color: #80BCA3;
}
.list-of-chapters {
    &>ul>li>a {
        display: block;
        padding: 0.5em 1em;

        background-color: hsla(0,0%,100%,0.25);
        transition:       background 100ms ease;
        &:hover { background-color: hsla(0,0%,100%,0.5); }
        &:hover { text-decoration:  underline; }
    }
}
.chapter-world-description {

    padding-top:    10vw;
    padding-bottom: 10vw;

    .bergamot-welcome { z-index: 1; }

}
.konigo-sorgen-soitie {

    @extend %grid-as-article;
    grid-column:   full;

    margin-top:       2.5em;
    margin-bottom:    2.5em;
    padding:          2em 0;
    background-color: hsla(202, 81%, 23%, 0.25);
    clip-path: $clip-top-bottom-line;

    .highlighted-paragraph {
        align-self:  center;
        font-size:   1.25em;
        padding:     2em 0;
        &>p { max-width: 27em; }
    }
    .highlighted-soitie {
        align-self:  center;
        grid-column: side-e;
        max-width:   10em;
    }
}
.quote-of-hamburger {

    grid-column: 2 / span 2;
    padding: 3em 1em 3em 5em;

    .text {
        font-style: italic;
        max-width:  27em;
    }
    .author {
        padding-top: 0.5em;
    }
}
.bergamot-just-browse-here {
    .nicely-zoomed-illustration>& { transform-origin: bottom center; }
}
.chapter-header {

    @extend %grid-as-article;
    padding-bottom: 1.5em;
    padding-top:    0.5em;
    align-content:  center;

    clip-path: $clip-bottom-line;
    background-color: transparent;

    /* is sticky */
    &.is-sticky {
        z-index:  1;
        position: fixed;
        top:   0;
        left:  0;
        right: 0;

        background-color: pink;
        transition: background 400ms ease;

        font-size:  0.75em;

        &+.chapter-header-placeholder {
            height: 6em;
            @media ($screenNotS) { font-size: 1.2em; }
        }

        &>section {

        }
    }

    &.has-matrix {
        background-color: limegreen;
    }

    // components

    &>section {
        grid-column: 2 / span 2;
    }

    .title {
        font-size: 2em;
        line-height: 1.5;
        white-space: nowrap;
    }
    .subtitle {
        font-size: 1em;
        line-height: 1;
        white-space: nowrap;
    }
}
.chapter-world-code {

    padding-top:    20vw;
    padding-bottom:  0vw;

    background-color: hsla(201, 65%, 6%, 1); /* Funny Like the Space */
    color:            limegreen;
    clip-path: $clip-top-line;
    @extend .has-sans-text;

    p { max-width: 27em; }

    .highlight { color: hsl(120, 41%, 65%); }

    .illustration {
        grid-column: side-w;
        align-self:  center;
        position: relative;
        &>img {
            position: absolute;
            width:  100%;
            height: auto;
        }
    }

    .pytagorus-rule {
        font-size: 1.2em;
    }

    .pytagorus-illustration,
    .illustration {
        opacity: 0.25;
        transition: opacity 200ms ease;
        &:hover { opacity: 0.75; }
    }

    .span1 { padding-left: 1em; }
    .span2 { padding-left: 2em; }
    .span3 { padding-left: 3em; }
}
:root {
    --matrix-bottom: 0vh;
    --matrix-coat:   0vh;
}
.character--AppkingInsideCode {

    position:   absolute;
    pointer-events: none;
    overflow:    visible;
    left:  0;
    right: 0;

    &>.appking, &>.coat {
        position: absolute;
        z-index:  1;
        bottom:   0;
        left:     80vw;
        width:    12vw;
        height:   auto;
    }
    &>.coat { opacity: 0; }
    &.is-active {
        &>.appking, &>.coat { position: fixed; }
        &>.appking { transform: translateY(var(--matrix-bottom)); }
        &>.coat    { transform: translateY(calc( var(--matrix-bottom) + var(--matrix-coat) )); }
        &>.coat { opacity: 1; }
    }
}
.hardcode-matrix {
    word-break: break-all;
    padding: 1rem;
}
.stop-that>p {  font-size: 4em; }
.this-is-silly {
    transition: transform 400ms ease;
    &:hover   { transform: scale(1.5); }
}
.chapter-content-lover {

    padding-top:    20vw;
    padding-bottom: 20vw;

    background-color: white;

    &>[storyblock] {
        grid-row-gap: 3em;
    }
}
.chapter-lorem-ipsum {

    padding-top: 4em;

    /* has top decoration */

    position: relative;
    z-index: 1;
    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 4rem;
        background-repeat: repeat-x;
        background-size: auto 100%;
        background-image: url(../../art/decor/wave-line.svg);
        background-position: left center;
    }
    &::before { top:    -2rem;}
}
.chapter-take-the-mission {

    padding-top:    10vw;
    padding-bottom: 10vw;
}


