$color--KingRed: #BF4D28;


:root {
    --color-main-bg:   hsl(0,0%,98%);
    --color-main-text: hsl(0,0%,24%);
}
body {
    background-color: var(--color-main-bg);
    color: var(--color-main-text);
}

%grid-as-text {
    display: grid;
    grid-gap: 1em 0;
    grid-template-columns: auto;
}
.grid-as-text { @extend %grid-as-text; }


%text-as-active-message {

    display: inline-block;
    padding: 0.2em 0.5em;

    margin-left: -0.5em;

    background-color: $color--KingRed;
    color:            white;

    font-family:    $font-list-sans;
    font-size:      0.6em;
    line-height:    1.75;
    letter-spacing: .03em;

}
.text-as-active-message { @extend %text-as-active-message; }
