
/** UPDATE ROOT */

@media screen and (min-width:1540px) {
    html { font-size: 20px; }
}

/** APP PRE COMPONENTS */

.screen-goes-away {
  --height:   100vh;
    position: relative; z-index: -1;
    width:    100%;
    height:   var(--height);
  --fade-opacity:        0;
  --fade-pointer-events: none;
}
.screen-goes-away.is-away {
  --fade-opacity:        0.8;
  --fade-pointer-events: all;
}
.screen-goes-away>* {
    position: fixed; z-index: -1;
    top:      0;
    left:     0;
    width:    100%;
    height:   100vh;
}
.screen-goes-away::after {
    content:  '';
    pointer-events: var(--fade-pointer-events);
    position: absolute; z-index: -1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;

    opacity:  var(--fade-opacity);
    background-color: black;
    transition-property:        opacity;
    transition-duration:        360ms;
    transition-timing-function: cubic-bezier(0.6,0.04,0.98,0.335); /*ActionFocus*/
}
.screen-goes-next {
    position: relative; z-index: 0;
  --box-shadow: 0 0.5rem 2rem rgba(0,0,0,1);
    box-shadow: var(--box-shadow);
  --background-color: var(--back-color);
    background-color: var(--background-color);
}
