.el-introduction {
    min-height: 90vh;

    /* has centered content */
    display:    flex;
    flex-direction:  column;
    justify-content: center;
    align-content:   stretch;
}

.el-introduction .el-hamburger {
    max-width:    12em;
    margin-left:  calc( 2 * var(--col-space) );
    margin-right: auto;
    cursor:       pointer;
}
.el-introduction .el-hamburger>img {
    transition: transform 420ms;
    transition-timing-function: var(--timing-function--focusZoom);
}
.el-introduction .el-hamburger:hover>img {
    transform:  rotate(-45deg);
}
@media (max-width: 600px) {
    .el-introduction .el-hamburger {
        max-width:    6em;
        margin-left:  calc( 1 * var(--col-space) );
    }
}

.el-hamburger {
    padding:   8%;
    position:  relative;
    z-index:   0;
    max-width: 100%;
}
.el-hamburger::before {
    content:  '';

    /* is decorative background */
    position: absolute;
    z-index: -1;
    top:    0;
    left:   0;
    width:  100%;
    height: 100%;

    background-color: hsl(var(--hsl-AccentBlue));
    border-radius:    50%;
}


.VonHamburgerOnDuty {
    position: fixed;
    z-index:  90;
    top:      0;
    right:    0;

    width:    3em;
    margin:   0;

    cursor:   pointer;
    outline-color: hsl(var(--hsl-AccentBlue));

    /* semantic button */
    padding:    0;
    border:     0;
    background: transparent;
    box-shadow: none;
    font-size:  1em;

 /* inactive state */
    display: none;
}
.VonHamburgerOnDuty.is-active {
    display: block;
}
.has-active-asidebar .VonHamburgerOnDuty {
    right: auto;
    left:  0;
}
.VonHamburgerOnDuty .el-hamburger {
    padding: 0.5em;
}
.VonHamburgerOnDuty .svga-icon {
    font-size: 2em;
}
.VonHamburgerOnDuty .for-active   { display: none; }
.VonHamburgerOnDuty .for-inactive { display: block; }
.has-active-asidebar .VonHamburgerOnDuty .for-active   { display: block; }
.has-active-asidebar .VonHamburgerOnDuty .for-inactive { display: none; }

.VonHamburgerOnDuty.not-yet {
    display: none;
}
.VonHamburgerOnDuty .el-hamburger::before {
    border-radius: 0;
}

@media (min-width: 1200px) {
    .VonHamburgerOnDuty {
        width: 6em;
    }
    .VonHamburgerOnDuty .el-hamburger>img {
        transition: transform 420ms;
        transition-timing-function: var(--timing-function--focusZoom);
    }
    .VonHamburgerOnDuty .el-hamburger:hover>img {
        transform:  rotate(-45deg) scale(0.75);
    }
}

.asidebar-list {
    margin:  0 calc( (-1) * var(--col-space) );
    padding: 0;
    list-style: none;
}
.asidebar-list>li>a {
    display: block;
    padding: 0.5rem var(--col-space);
    text-decoration: none;
}
.asidebar-list>li>a:hover {
    background-color: hsla(0,0%,0%,0.25);
}


.el-tz-kota {
    border: 1px solid black;
    margin: var(--row-space) var(--col-space);
    background-color: white;
    page-break-inside: avoid;
}

/* ------------------------------------------------ Workers */

.lizard-value {
    font-size:  1.5em;
    text-align: center;
}
.character {
    max-width:    10em;
    margin-left:  auto;
    margin-right: auto;
}
.character img {
    width: 10em;
}
.illustration {
    padding-top:    2em;
    padding-bottom: 2em;
}
.illustration.is-centered>img {
    margin-left:  auto;
    margin-right: auto;
}
.wide-illustration {
    margin-left: auto;
    margin-right: auto;
}
.bookground-illustration {
    opacity: 1;
}
.chapter-header {
    grid-column: main-start / east-end;
    padding-top:    2em;
    padding-bottom: 2em;
}
@media (max-width: 600px) {
    .huge-title {
        text-align: left;
    }
}
.align-self--start {
    align-self: start;
}

